---
---


// Design Specification
$primary: #2a3783 !default;
$primary-light: #5d61b3 !default;
$primary-dark: #001255 !default;

$primary-invert: rgba(71, 85, 255, 0.31) !default;

$secondary: #E1E2E1 !default;
$secondary-light: #FFFFFF !default;
$secondary-dark: #cccccc !default;

$accent: #c39c2a !default;
$accent-light: #f9cd5b !default;
$accent-dark: #8f6e00 !default;

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: $secondary !default;
$header-bg-color: $primary !default;
$header-bg-color-secondary: $accent !default;

// Text
$section-headings-color: $accent !default;
$body-text-color: $primary !default;
$body-link-color: $primary !default;
$blockquote-text-color: $accent !default;

// Code
$code-bg-color: $secondary !default;
$code-text-color: $primary !default;

// Borders
$border-color: $primary !default;
$table-border-color: $primary !default;
$hr-border-color: $primary !default;

@import "{{ site.theme }}";

.primary * {
  color: $primary !important;
}

.primary-light * {
  color: $primary-light !important;
}
.primary-dark * {
  color: $primary-dark !important;
}

.secondary * {
  color: $secondary !important;
  background-color: $primary;
}
.secondary-light * {
  color: $secondary-light !important;
  background-color: $primary-light;
}
.secondary-dark * {
  color: $secondary-dark !important;
}


.accent * {
  color: $accent !important;
}

td.secondary * {
  background-color: $primary-light;
}

.btn.primary {
  color: $secondary;
  border-color: $secondary !important;
  background-color: $primary;
}

.btn.secondary {
  color: $primary;
  border-color: $primary !important;
  background-color: $secondary;
}

.btn.accent {
  color: $accent;
  border-color: $accent !important;
  background-color: $secondary !important;
}

.vec.primary {
    stroke: $secondary;
    fill: $primary;
}

.vec.secondary {
  stroke: $primary;
  fill: $secondary;
}

.vec.accent {
  stroke: $primary;
  fill: $accent;
}

.highlight .highlight-inverse {
  border-color: $primary;
  border-width: 1px;
}

.highlight-inverse {
  background-color: $primary;
}


.btn.primary {
  color: $secondary;
  border-color: $secondary !important;
  background-color: $primary;
}

.btn.secondary {
  color: $primary;
  border-color: $primary !important;
  background-color: $secondary;
}

.btn.accent {
  color: $accent;
  border-color: $accent !important;
  background-color: $secondary !important;
}

.vec.primary-light {
  stroke: $secondary-light;
  fill: $primary-light;
}

.vec.secondary {
  stroke: $primary;
  fill: $secondary;
}

.vec.accent {
  stroke: $primary;
  fill: $accent;
}

.highlight .highlight-inverse {
  border-color: $primary;
  border-width: 1px;
}

.highlight-inverse {
  background-color: $primary;
}