[submodule "packages/fixit-payments"]
	path = packages/fixit-payments
	url = https://github.com/Fixitfor/fixit-payments.git
[submodule "packages/fixit-appointments"]
	path = packages/fixit-appointments
	url = https://github.com/Fixitfor/fixit-appointments.git
[submodule "packages/fixit-dashboard"]
	path = packages/fixit-dashboard
	url = https://github.com/Fixitfor/fixit-dashboard.git
[submodule "packages/fixit-manager"]
	path = packages/fixit-manager
	url = https://github.com/Fixitfor/fixit-manager.git
[submodule "packages/fixit-riro"]
	path = packages/fixit-riro
	url = https://github.com/Fixitfor/fixit-riro.git
[submodule "packages/fixit-branding"]
	path = packages/fixit-branding
	url = https://github.com/Fixitfor/fixit-branding.git
