<table>
    <tr>
        <th>Color</th>
        <th>Text</th>
        <th>Button</th>
        <th>Vector</th>
    </tr>
    <tr>
        <td>
            <p>Primary</p>
            <p>#2a3783</p>
        </td>
        <td>
            <div class="primary">
                <p>Paragraph</p>
                <h1>H1</h1>
                <h2>H2</h2>
                <h3>H3</h3>
                <h4>H4</h4>
                <h5>H5</h5>
                <h6>H6</h6>
            </div>
        </td>
        <td><a class="btn primary">Button</a></td>
        <td>
            <svg height="100" width="100">
                <circle class="vec primary" cx="50" cy="50" r="40" stroke-width="3"></circle>
            </svg>
        </td>
    </tr>
    <tr>
        <td>
            <p>Primary-Light</p>
            <p>#2a3783</p>
        </td>
        <td>
            <div class="primary-light">
                <p>Paragraph</p>
                <h1>H1</h1>
                <h2>H2</h2>
                <h3>H3</h3>
                <h4>H4</h4>
                <h5>H5</h5>
                <h6>H6</h6>
            </div>
        </td>
        <td><a class="btn primary-light">Button</a></td>
        <td>
            <svg height="100" width="100">
                <circle class="vec primary" cx="50" cy="50" r="40" stroke-width="3"></circle>
            </svg>
        </td>
    </tr>
    <tr>
        <td>Secondary</td>
        <td>
            <div class="secondary">
                <p>Paragraph</p>
                <h1>H1</h1>
                <h2>H2</h2>
                <h3>H3</h3>
                <h4>H4</h4>
                <h5>H5</h5>
                <h6>H6</h6>
            </div>
        </td>
        <td><a class="btn secondary">Button</a></td>
        <td>
            <svg height="100" width="100">
                <circle class="vec secondary" cx="50" cy="50" r="40" stroke-width="3"></circle>
            </svg>
        </td>
    </tr>
    <tr>
        <td>Secondary-Light</td>
        <td>
            <div class="secondary-light">
                <p>Paragraph</p>
                <h1>H1</h1>
                <h2>H2</h2>
                <h3>H3</h3>
                <h4>H4</h4>
                <h5>H5</h5>
                <h6>H6</h6>
            </div>
        </td>
        <td><a class="btn secondary">Button</a></td>
        <td>
            <svg height="100" width="100">
                <circle class="vec secondary" cx="50" cy="50" r="40" stroke-width="3"></circle>
            </svg>
        </td>
    </tr>
    <tr>
        <td>Secondary-Dark</td>
        <td>
            <div class="secondary-dark">
                <p>Paragraph</p>
                <h1>H1</h1>
                <h2>H2</h2>
                <h3>H3</h3>
                <h4>H4</h4>
                <h5>H5</h5>
                <h6>H6</h6>
            </div>
        </td>
        <td><a class="btn secondary">Button</a></td>
        <td>
            <svg height="100" width="100">
                <circle class="vec secondary" cx="50" cy="50" r="40" stroke-width="3"></circle>
            </svg>
        </td>
    </tr>
    <tr>
        <td>Accent</td>
        <td>
            <div class="accent">
                <p>Paragraph</p>
                <h1>H1</h1>
                <h2>H2</h2>
                <h3>H3</h3>
                <h4>H4</h4>
                <h5>H5</h5>
                <h6>H6</h6>
            </div>
        </td>
        <td><a class="btn accent">Button</a></td>
        <td>
            <svg height="100" width="100">
                <circle class="vec accent" cx="50" cy="50" r="40" stroke-width="3"></circle>
            </svg>
        </td>
    </tr>
    <tr>
        <td>Accent-Light</td>
        <td>
            <div class="accent">
                <p>Paragraph</p>
                <h1>H1</h1>
                <h2>H2</h2>
                <h3>H3</h3>
                <h4>H4</h4>
                <h5>H5</h5>
                <h6>H6</h6>
            </div>
        </td>
        <td><a class="btn accent">Button</a></td>
        <td>
            <svg height="100" width="100">
                <circle class="vec accent" cx="50" cy="50" r="40" stroke-width="3"></circle>
            </svg>
        </td>
    </tr>
</table>