---
---


// Design Specification
$primary: #2a3783 !default;
$secondary: #fff !default;
$accent: #c39c2a !default;

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: $secondary !default;
$header-bg-color: $primary !default;
$header-bg-color-secondary: $accent !default;

// Text
$section-headings-color: $accent !default;
$body-text-color: $primary !default;
$body-link-color: $primary !default;
$blockquote-text-color: $accent !default;

// Code
$code-bg-color: $secondary !default;
$code-text-color: $primary !default;

// Borders
$border-color: $primary !default;
$table-border-color: $primary !default;
$hr-border-color: $primary !default;

@import "{{ site.theme }}";